.myitems, .myitems_delete, .myitems_finished, .myitems_restart {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
}

.myitems {
    &:hover {
        background-color: #FF8C00;
        cursor: pointer;
    }

}

.myitems_delete {
    &:hover {
        background-color: #A52A2A;
        color: #fefefe;
        cursor: pointer;
    }
}

.myitems_finished {
    &:hover {
        background-color: #8FBC8F;
        color: #fefefe;
        cursor: pointer;
    }
}

.myitems_restart {
    &:hover {
        background-color: #89CFF0;
        color: #fefefe;
        cursor: pointer;
    }
}

.actions {
    float: right;
    margin-right: 10px;

    &:first-child {
        margin-right: 0px;
    }
}

.deleteImg, .checkImg, .imageReset {
    width: 16px; 
    height: 25px;
    display: block;
    float: right;
}
