body {
  padding: 50px;
  background-color: rgb(77, 110, 126) !important;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
